<div class="mainBox">
    <div class="mat-elevation-z6 centerBox">
        <div class="taskBox">
            <div>AUFGABEN</div>
            <div class="taskPile">
                <div>Neue Aufgaben</div>
                <div>In Arbeit</div>
            </div>
        </div>
        <div class="playField">
            <div class="playFieldPlayer">
                <div class="pointLine">PUNKTE: 101892</div>
                <div class="titleLine">PLAYER</div>
            </div>
            <div class="playFieldComputer">
                <div class="titleLine">COMPUTER</div>
                <div class="pointLine">PUNKTE: 92820</div>
            </div>
        </div>
    </div>
</div>